<a href="https://colab.research.google.com/github/Ramon-Goveia/Estatistica-Descritiva/blob/master/analiseDescritiva.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Estatística Descritiva**

Segundo a Agência Nacional de Energia Elétrica (ANEEL), atualmente a taxa de aumento médio no preço de energia elétrica por ano é de aproximadamente 2%. Devido a esse constante aumento do preço da energia, alguns consumidores começaram a pensar em soluções para reduzir o custo da conta de energia elétrica. 

Investir em um sistema de energia solar é uma opção que exige alto investimento inicial e que começa a ter retorno depois de alguns anos. 

Monitorar o consumo de grupos de equipamentos e tentar fazer uma otimização do tempo de uso para gerar economia pode ser uma boa opção para quem não quer fazer um alto investimento.

Para isso vamos analisar o perfil de consumo de energia dos equipamentos.

Análise de posição (média, moda, mediana e quartis 1º e 3º) e de dispersão (amplitude, variância, desvio padrão e coeficiente de variação) para os três grupos.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# importando bibliotéca pandas
import pandas as pd

In [3]:
#Leitura dos arquivos
df = pd.read_excel("analise_descritiva.xlsx")

In [4]:
df.head()

         Data     Tempo  Grupo1  Grupo2  Grupo3
0  2019-11-24  00:00:00       0       2       0
1  2019-11-24  00:01:00       0       1       0
2  2019-11-24  00:02:00       0       2       0
3  2019-11-24  00:03:00       0       1       0
4  2019-11-24  00:04:00       0       1       0

In [5]:
#Verificando o tipo de dado de cada coluna
df.dtypes

Data      object
Tempo     object
Grupo1     int64
Grupo2     int64
Grupo3     int64
dtype: object

In [6]:
#Métricas de posição Grupo1
print('Média:',df['Grupo1'].mean())
print('Mediana:',df['Grupo1'].median())
print('1º Quartil:',df['Grupo1'].quantile(0.25))
print('3º Quartil:',df['Grupo1'].quantile(0.75))
print('Moda:',df['Grupo1'].mode())

Média: 0.7541666666666667
Mediana: 0.0
1º Quartil: 0.0
3º Quartil: 0.0
Moda: 0    0
dtype: int64

In [7]:
#Métricas de posição Grupo2
print('Média:',df['Grupo2'].mean())
print('Mediana:',df['Grupo2'].median())
print('1º Quartil:',df['Grupo2'].quantile(0.25))
print('3º Quartil:',df['Grupo2'].quantile(0.75))
print('Moda:',df['Grupo2'].mode())

Média: 1.1368055555555556
Mediana: 0.0
1º Quartil: 0.0
3º Quartil: 1.0
Moda: 0    0
dtype: int64

In [8]:
#Métricas de posição Grupo3
print('Média:',df['Grupo3'].mean())
print('Mediana:',df['Grupo3'].median())
print('1º Quartil:',df['Grupo3'].quantile(0.25))
print('3º Quartil:',df['Grupo3'].quantile(0.75))
print('Moda:',df['Grupo3'].mode())

Média: 6.0055555555555555
Mediana: 0.0
1º Quartil: 0.0
3º Quartil: 17.0
Moda: 0    0
dtype: int64

In [10]:
#Métricas de disperção
print('Amplitude:',df['Grupo1'].max()-df['Grupo1'].mean())
print('Variância:',df['Grupo1'].var())
print('Desvio Padrão:',df['Grupo1'].std())
print('Coeficiente de variação:',df['Grupo1'].std()/df['Grupo1'].mean())

Amplitude: 37.24583333333333
Variância: 24.107658909343517
Desvio Padrão: 4.909955082212415
Coeficiente de variação: 6.51043767807171